<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block head %}{% endblock %}
</head>
<body style="background:#797c86">

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-white" href="#">RESTINPEACE</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active text-white" href="Workspace">Workspace<span class="sr-only">(current)</span></a>
      <a class="nav-link text-white" href="Dashbord">Dashbord</a>
        <a class="nav-link text-white" href="Customer_Segmentation">Customer Segmentation</a>
        <a class="nav-link text-white" href="Discount">Discount</a>
    </div>
  </div>
</nav>
<div style="padding:20px;">
 {% block body %}{% endblock %}

</div>

  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; RESTINPEACE</small>
    </div>
  </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Include Twitter Bootstrap and jQuery: -->

<script src='https://kit.fontawesome.com/a076d05399.js'></script>


<script>
//to store the added months
var monthadded = [];
var yearadded = [];
function addMonth(monthname){

	//to store the final output
	var final2 = '';
	//get the current text
	var monthsave = document.getElementById('monthsave');
	//check whether the monthadded array has already the element
	//by getting its index
	var index = monthadded.indexOf(monthname);

	if(index == -1){
		monthadded.push(monthname);
		//if there are no items in array just print the value
		if(monthadded.length == 0){
			final2 = monthname;
			monthsave.value = final2;
			return;
		}

		//print the array in the input tag
		monthsave.value = monthadded;

	}
	else{
		return;
	}



}
//remove a month
function removeMonth(monthname){

	var final2 = '';
	//get the current text
	var monthsave2 = document.getElementById("monthsave");
	//get the index and remove the element
	var index = monthadded.indexOf(monthname);
	if(index == -1){
		return;
	}
	monthadded.splice(index, 1);
	//alert('after slice temp '+temp);
	//alert(temp.length);
	monthadded = monthadded.slice(0,monthadded.length);
	//print the array in the input tag

	monthsave2.value = monthadded;


}

//year methods
function addyear(yearnumber){

	//to store the final output
	var final3 = '';
	//get the current text
	var yearsave = document.getElementById('year');
	//check whether the yearadded array has already the element
	//by getting its index
	var index = yearadded.indexOf(yearnumber);

	if(index == -1){
		yearadded.push(yearnumber);
		//if there are no items in array just print the value
		if(yearadded.length == 0){
			final3 = yearnumber;
			yearsave.value = final3;
			return;
		}

		//print the array in the input tag
		yearsave.value = yearadded;

	}
	else{
		return;
	}



}
//remove a month
function removeYear(yearnumber){

	var final3 = '';
	//get the current text
	var yearsave2 = document.getElementById("year");
	//get the index and remove the element
	var index = yearadded.indexOf(yearnumber);
	if(index == -1){
		return;
	}
	yearadded.splice(index, 1);

	yearadded = yearadded.slice(0,yearadded.length);
	//print the array in the input tag

	yearsave2.value = yearadded;


}
</script>
</body>
</html>