{% extends 'base.html'%}


{% block head %}


<style>

.dropbtn {
  background-color: #f1f1f1;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.iconset{
	padding: 20px;

}
.subitems{
	display: none;
    width:100%;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	cursor: pointer;

}
.subitemsremove{
	float:right;
}
.subitems:hover {
  background-color: #f1f1f1;
  color:black;
}
.dropdown {
  position: relative;

  display: inline-block;

}

.dropdown-content {
  width:100%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
  color:black;
}


		.row {
		  display: -ms-flexbox; /* IE10 */
		  display: flex;
		  -ms-flex-wrap: wrap; /* IE10 */
		  flex-wrap: wrap;
		  margin: 0 -16px;
		}

		.col-25 {
		  -ms-flex: 25%; /* IE10 */
		  flex: 25%;
		}

		.col-50 {
		  -ms-flex: 50%; /* IE10 */
		  flex: 50%;
		}

		.col-75 {
		  -ms-flex: 75%; /* IE10 */
		  flex: 75%;
		}

		.col-25,
		.col-50,
		.col-75 {
		  padding: 0 16px;
		}


		label {
		  margin-bottom: 10px;
		  display: block;
		}


		.btn {

		  color: black;
		  padding: 12px;
		  margin: 10px 0;
		  border: none;
		  width: 100%;
		  border-radius: 3px;
		  cursor: pointer;
		  font-size: 17px;
		}


		span.price {
		  float: right;
		  padding-right:10px;

		}


		</style>

{% endblock %}

{% block body %}

<div class="row">

	<!--Financil Details col START HERE-->

	<div class="col-50 ">
		<div class="container" style="background: #f2f2f2;padding:0px;">

		  <div style="background-color:#2C3E50;color:white;padding:2px;">

				<h4 style="text-align:center;">Estimated Financial Summary After Discount</h4>

		  </div>
		  <br>
<div style="padding-left:5px;padding-right:5px">
		  <table class="table" style = "font-size: 14px;">
			  <thead class="bg-info" style="color:white;">
				<tr>
				  <th scope="col">SEG</th>
				  <th scope="col">DISCOUNT %</th>
				  <th scope="col">GUEST COUNT</th>
				  <th scope="col">LOSS $</th>
				  <th scope="col">RCPP $</th>
				</tr>
			  </thead>

			  <tbody>
			  {% if (fl!=False) %}
			  {% for i in out['segment_discount_percentage'].keys() %}
				<tr>
				  <th scope="row">{{i}}</th>
				  <td>{{out['segment_discount_percentage'][i]}}</td>
				  <td>{{out['mean_guest_count'][i]}}</td>
				  <td>{{out['segment_loss_from_discount'][i]}}</td>
				  <td>{{out['recover_amount_per_guest'][i]}} </td>
				</tr>
			  {% endfor %}


			  </tbody>
			</table>
		<p>Estimated Total Guest Count : <span class="price" style="color:black"><b>{{out['sum_of_guest']}}</b></span></p>
		<p>Estimated Total Loss : <span class="price" style="color:black"><b>${{sum}}

		</b></span></p>
		{%endif%}
			{% if (fl==False) %}
				<tr>
				  <th scope="row">1</th>
				  <td>34</td>
				  <td>4000</td>
				  <td>15000</td>
				  <td>13000</td>
				</tr>
		       <tr>
				  <th scope="row">3</th>
				  <td>8</td>
				  <td>40000</td>
				  <td>10000</td>
				  <td>12000</td>
				</tr>




			  </tbody>
			</table>
		<p>Estimated Total Guest Count : <span class="price" style="color:black"><b>17000</b></span></p>
		<p>Estimated Total Loss : <span class="price" style="color:black"><b>$300000

		</b></span></p>

			{%endif%}
		<!--Inserting package details---->
        </div>
		 <br>
		 <!--Insert segment  offers-->

            </div>
	</div>

	<br>

	<!--Discount Details Col start here------>

	<div class="col-50 order-0" >
		<div class="container" style="background: #f2f2f2; padding:0px; ">

       			 <div class="row" s>
          			<div class="col-50">
						<form method="post" action="/calDiscount">
							<div style="background-color:#2C3E50;color:white;padding:2px;">

								<h4 style="text-align:center">Discount Details</h4>

							</div>
				<br>
                <div style="padding:10px">
					<b><label for="fname"> OFFER MONTH RANGE :</label></b>
						<!--dropdwon Details Col start here------>

<!--Monthly drop down -->
<div class="dropdown">
  <input type="text" id="monthsave" value ='Month..' class="dropbtn" name="monthsave"><i class='fas fa-caret-down dropbtn iconset'></i>

  <div class="dropdown-content">

  <div class="subitems">
	<span  onclick = "addMonth('January')">January</span><span onclick="removeMonth('January')" class ='subitemsremove ' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
  </div>

 <div class="subitems">
	<span  onclick = "addMonth('Febuary')">Febuary</span><span onclick="removeMonth('Febuary')" class ='subitemsremove' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
 </div>

 <div class="subitems">
	<span  onclick = "addMonth('April')">April</span><span onclick="removeMonth('April')" class ='subitemsremove' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
 </div>

 <div class="subitems">
	<span  onclick = "addMonth('May')">May</span><span onclick="removeMonth('May')" class ='subitemsremove ' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
  </div>

 <div class="subitems">
	<span  onclick = "addMonth('June')">June</span><span onclick="removeMonth('June')" class ='subitemsremove' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
 </div>

 <div class="subitems">
	<span  onclick = "addMonth('July')">July</span><span onclick="removeMonth('July')" class ='subitemsremove' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
 </div>

  <div class="subitems">
	<span  onclick = "addMonth('August')">August</span><span onclick="removeMonth('August')" class ='subitemsremove ' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
  </div>

 <div class="subitems">
	<span  onclick = "addMonth('September')">September</span><span onclick="removeMonth('September')" class ='subitemsremove' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
 </div>

 <div class="subitems">
	<span  onclick = "addMonth('October')">October</span><span onclick="removeMonth('October')" class ='subitemsremove' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
 </div>

 <div class="subitems">
	<span  onclick = "addMonth('November')">November</span><span onclick="removeMonth('November')" class ='subitemsremove' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
 </div>

 <div class="subitems">
	<span  onclick = "addMonth('December')">December</span><span onclick="removeMonth('December')" class ='subitemsremove' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
 </div>



  </div>
</div>
<!-- Year Drop down-->

<div class="dropdown">
  <input type="text" id="year" value ='Year..' class="dropbtn" name="year" ><i class='fas fa-caret-down dropbtn iconset'></i>

  <div class="dropdown-content">

  <div class="subitems">
	<span  onclick = "addyear('2015')">2015</span><span onclick="removeYear('2015')" class ='subitemsremove ' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
  </div>

 <div class="subitems">
	<span  onclick = "addyear('2016')">2016</span><span onclick="removeYear('2016')" class ='subitemsremove' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
 </div>

 <div class="subitems">
	<span  onclick = "addyear('2017')">2017</span><span onclick="removeYear('2017')" class ='subitemsremove' ><i class="fa fa-trash" aria-hidden="true"></i></span><br>
 </div>


  </div>
</div>
					<!--dropdwon ends Details Col start here------>




				<b><label for="email">DISCOUNT PERCENTAGE</label></b>
				<input type="number" name="test_name" name="test_name" min="0" oninput="validity.valid||(value='');" >
				<br>
				<br>
				<button type="submit" class="btn btn-primary btn-sm" style="color:white;">Generate Discount</button>
				</div>
							<br>

						</form>

          </div>



        </div>

    </div>
	</div>


</div>





<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}